.abt-card-cont {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: -15px;
}

.ab-sect-card {
    display: grid;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid white;
}


.pic-item {
    grid-column: 2;
    grid-row: 1 / span 2;
    overflow: hidden;
    width: 400px;
    -webkit-transition: 0.4s ease;
    transition: 0.4s ease;
    border-radius: 5%;
}

.ab-sect-card .ab-sect-cont {
    grid-column: 1;
    grid-row: 2;
}

.ab-sect-card .interest {
    grid-column: 1;
    grid-row: 1;
}

.gray .pic-item {
    grid-column: 1;
    grid-row: 1 / span 2;
    overflow: hidden;
    width: 400px;
    -webkit-transition: 0.4s ease;
    transition: 0.4s ease;
    border-radius: 5%;
}

.gray .ab-sect-cont {
    grid-column: 2;
    grid-row: 2;
}

.gray .interest {
    grid-column: 2;
    grid-row: 1;
}

.interest {
    font-size: 66px;
    text-align: center;
    font-family: sans-serif, Helvetica, Arial;
    padding-bottom: 5px;
    padding-top: 20px;
    width: 230px;
    border-bottom: 3px solid white;
}

.ab-sect-cont {
    width: 370px;
    padding: 24px;
    padding-bottom: 28px;
}

.pic-item img {
    -webkit-transition: 0.4s ease;
    transition: 0.4s ease;
}

.pic-item img:hover {
    transform: scale(1.15);
}

.pic-item:hover {
    border-radius: 15%;
}

.pic {
    height: 100%;
    width: 100%;
}

.grid-item {
    text-align: center;
    margin: auto;
}

.ab-header {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    font-size: 65px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-bottom: 1px Solid White;
    width: 900px;
    padding-top: 60px;
    padding-bottom: 40px;
}

.container {
    overflow: hidden;
}