nav {
    display: flex;
    justify-content: center;
    background-color: rgba(15, 15, 15, 0.4);
    position: -webkit-sticky;
    position: sticky;
    z-index: 100;
    top: -1px;
    transition: 350ms;
}

nav:hover {
    background-color: rgba(15, 15, 15, 0.8);
}

.nav-item {
    text-decoration: none;
    margin: 15px;
    font-family: Sans-serif;
    transition: 400ms;
    color: #bbbbbb;
    padding: 5px 10px 5px 10px;
    border-radius: 5px
}

.nav-item:hover {
    color: #ffffff;
    transform: translateY(6px);
}

.header {
    font-size: 100px;
    font-family: Trebuchet MS;
    text-align: center;
    color: rgb(20,20,20);
    margin-bottom: 10px;
}

#quote {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: rgb(20,20,20);
    padding-bottom: 20px;
    font-size: 23px;
}